@model IEnumerable<Programming_Recipes.Models.Language>

@{

    ViewBag.Title = "الصفحة الرئيسية";
}
<div>
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <div class="jumbotron ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h1>موقع الوصفات البرمجية</h1>
                            <p class="lead">موقع الوصفات البرمجية هو مساحة لتقديم أكواد برمجية جاهزة وبمختلف لغات البرمجة للمبرمجيين المبتدئيين والمهتميين بالبرمجة بشكل عام.</p>
                            <br />
                            <p><a href="~/Home/About" class="btn btn-primary btn-lg">المزيد &raquo;</a></p>
                        </div>
                        <div class="col-md-5">
                            <img src="images/clement-h-544786-unsplash.jpg" alt="Can not open image" class="img-responsive thumbnail"
                                 style="height:250px;width:350px" />
                        </div>
                    </div>
                </div>
            </div>


            <!--Sidebar-->
            <div class=" col-md-4" style="margin-right:-15px">
                <!--Search-->
                <div class="well">
                    <h4>إبحث هنا:</h4>
                    <div class="input-group">
                        <form class="input-group-btn" action="http://www.google.com/search" method="get" onSubmit="Gsitesearch(this)" target="_blank">
                            <input name="q" type="hidden" />
                            <input name="qfront" type="text" style="width: 180px" class="form-control" />
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </div>
                </div>
                <!--Categories-->
                <div class="well">
                    <h4>لغات البرمجة:</h4>
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li><a href="https://www.w3schools.com/default.asp" target="_blank">Learn More</a></li>

                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">

                                    <li><p>@Html.DisplayFor(modelItem => item.LanguageName)<p></li>
                                </ul>
                            </div>
                        </div>
                    }

                </div>
                <!--Popular posts-->
                <div class="well">
                    <h4>أقسام متنوعة:</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Learning PHP in one month</a></li>
                        <li><a href="#">ASP.NET language</a></li>
                        <li><a href="#">Defference between java and javascript</a></li>
                        <li><a href="#">Learning ASP.NET</a></li>
                        <li><a href="#">Jquery and AJAX</a></li>
                    </ul>
                </div>
            </div>



            @foreach (var item in Model)
            {
                <div class="panel panel-info col-md-8 pull-right">
                    <div class="panel-heading"><h1>@Html.DisplayFor(modelItem => item.LanguageName)</h1></div>

                    <div class="row panel-body">

                        @foreach (var subItem in item.Recipes)
                        {

                            <div style="margin-left:20px;margin-bottom:30px;">

                                <h3>@Html.DisplayFor(modelItem => subItem.RecipeTitle)</h3>

                                <h5>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => subItem.RecipeContent).ToString()))</h5>

                                <p>@Html.ActionLink("التفاصيل", "Details", new { RecipeId = subItem.Id }, new { @class = "btn btn-primary" })</p>
                            </div>

                        }
                    </div>

                </div>

            }

        </ContentTemplate>
    </asp:UpdatePanel>
</div>


<script>

    //Enter domain of site to search.

    function Gsitesearch(curobj) {
        curobj.q.value = curobj.qfront.value
    }


</script>
